* {
    box-sizing: border-box;
}

body {
    background-color: #DAF7A6;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

p {
    width: 90%;
    height: 150px;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.row {
    width: 100%;
}

.col-lg-1, .col-lg-2, .col-lg-3, 
.col-md-1, .col-md-2, .col-md-3, 
.col-sm-1, .col-sm-2, .col-sm-3 {
    position: relative;
}

div>div {
    background-color: #A89D9F
}

.menu {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0px;
    background-color: yellow;
    border: 1px solid black;
    color: black;
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
        float: left;
        border: 1px solid black;
    }
    .col-lg-1 {
        width: 33.33%;
    }
    .col-lg-2 {
        width: 33.33%;
    }
    .col-lg-3 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3 {
        float: left;
        border: 1px solid black;
    }
    .col-md-1 {
        width: 50%;
    }
    .col-md-2 {
        width: 50%;
    }
    .col-md-3 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3 {
        float: none;
        width: 100%;
        border: 1px solid black;
    }
}
